<h3>Post Form</h3>
<!--Right now, no database link or persistence-->
<%= form_tag posts_path do%>  <!--remember: posts_path will generate the string for the path to the posts index page-->
  <label>Post title:</label><br />
  <%=text_field_tag :'post[title]' %>
  <br />

  <label>Post Description: </label>
  <%= text_area_tag :'post[description]'%>
  <%= submit_tag "Submit Post" %>
  
<%end%>

<%=params.inspect%>


<!--og form 

<h3>Post Form</h3>

<form action="<%=posts_path%>" method="POST">  
  <label>Post title:</label><br />
  <input type="text" id="post_title" name="post[title]" /><br />

  <label>Post Description: </label>
  <textarea id="post_description" name="post[description]"></textarea><br />
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" />
  <input type="submit" value="Submit Post" />
  
</form>

<%=params.inspect%>

-->